.footer {
    background-color: #F8E8EE;
    padding: 0px 50px;
    color: #790252;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}